body {
    background-color: lightsteelblue;
}

.container {
    margin-left: 46%;
}
.sign {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    right: 50px;
}

.Forgot {
   color: rgb(86, 86, 247);
   cursor: pointer;
}

.wrapper {
    margin-left: 44%;
}
.input2 {
    border: 2px solid black;
    border-radius: 6px;
    width: 200px;
    height: 30px;
    
}
.u {
    font-family: 'Roboto', sans-serif;
}

.p {
    font-family: 'Roboto', sans-serif;
}

.input1 {
    border: 2px solid black;
    border-radius: 6px;
    width: 200px;
    height: 30px;
}

.gone {
    font-family:'Poppins', sans-serif;
    margin-left: 40px;
    cursor: default;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 5px;
    padding: 5px;
    background-color: lightsteelblue;
    transition: .7s ease-in-out;   
}


.button {
    width: 24%;
    left: 40%;
    margin-bottom: 20%;
}
button {
    text-align: center;
    cursor: pointer;
    background-color: #03A1FF;
    width: 200px;
    border: 2px solid #03A1FF;
    font-family: 'Lato', sans-serif;
}

.cursor {
    cursor: pointer;
}
.input {
   margin-left: 47%;
   font-family: 'Poppins', sans-serif;
}
input {
    margin-right: 5px;
}
.o {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
}


